/* .App {
  text-align: center;
} */
#navbar{
  width:100%;
  height:80px;
  background-color: #282c34;
  display:flex
}

#check{
  color:white;
}
#logo{
  margin-left: 90px;
}
#link{
  width:35%;
  height:80px;
  margin-left: 16%;
  display: flex;
}
#link>div{
  margin-left: 15%;
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}
#check1{
  margin-left: 20%;
}
#button{
  margin-left: 10%;
  margin-top: 7%;
  background-color:green;
  border-radius: 50px;
  color: white;
  padding: 15px 40px;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
